body{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

input,select{
    width: 10%;
    padding: 4px;
    margin: 5px;
    border: 2px solid #801b72;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
}

img{
    width: 20%;
    height: auto;
    margin: 2%;
}

div{
    text-align: center;
}